/*----------BUTTON1 FLIP-------------------*/
    .button1 {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #000000;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    transition: all 0.15s;
    }
    a.button1:hover {
    color:#b04040;
    border-color:#a33d3d;
    }

/*----------BUTTON2 FLIP-------------------*/

