body {
    background-color: rgb(46, 46, 46);
}
.container {
    margin-inline: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 300px;
    height: 260px;
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
    box-shadow: rgba(153, 153, 153, 0.8) 5px 5px, rgba(124, 124, 124, 0.4) 10px 10px, rgba(82, 82, 82, 0.2) 15px 15px, rgba(28, 28, 28, 0.1) 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
